
h1{
  background-color: wheat;
  text-align: center;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer{
background-color: #57606f;
text-align: center;
padding: 20px;
}
.output{
    text-align:left;
    background-color : white;
}